# Ignore everything
*

# Allow specific files
!.gitignore
!README.md
!aur_packages.txt
!pacman_packages.txt

# Allow specific top-level directories
!.icons/
!.icons/**

!.themes/
!.themes/**

# Allow .config directory itself, but exclude everything inside by default
!.config/
.config/*
!.config/assets/
!.config/assets/**

!.config/fastfetch/
!.config/fastfetch/**

!.config/hypr/
!.config/hypr/**

!.config/kitty/
!.config/kitty/**

!.config/rofi/
!.config/rofi/**

!.config/waybar/
!.config/waybar/**
