/*
            _ _                               _                      _         _      
           (_) |                             | |                    | |       | |     
  _ __ ___  _| | ____ _  __      ____ _ _   _| |__   __ _ _ __   ___| |_ _   _| | ___ 
 | '_ ` _ \| | |/ / _` | \ \ /\ / / _` | | | | '_ \ / _` | '__| / __| __| | | | |/ _ \
 | | | | | | |   < (_| |  \ V  V / (_| | |_| | |_) | (_| | |    \__ \ |_| |_| | |  __/
 |_| |_| |_|_|_|\_\__,_|   \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |___/\__|\__, |_|\___|
                                         __/ |                            __/ |       
                                        |___/                            |___/        

cold purple: #22336e
blue zodiac: #112861
chetwode blue: #819CD3
indigo: #4A73C6
white-blue: #819CD3;

*/

* {
	border: none;
	border-radius: 10;
    font-family: "JetbrainsMono Nerd Font" ;
	font-size: 15px;
	min-height: 10px;
}

window#waybar {
	background-color: rgba(30, 30, 46, 0.3);
}

#network {
    margin-top: 5px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
	background-color: rgba(17, 40, 97, 0);
    color: #819CD3;
    border-bottom: 0px;
    border-style: solid;
    border-color: #819CD3;
    transition: 0.3s;
}

#network:hover { 
    color: #22336e;
    background: #819CD3;
}

#taskbar {
    margin-top: 5px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    color: #819CD3;
    background-color: rgba(17, 40, 97, 0);
    transition: 0.3s;
    border-bottom: 0px;
    border-style: solid;
    border-color: #819CD3;
}

#taskbar button:hover { 
    background: #819CD3;
    color: #22336e;
}

#custom-keybinds {
    margin-top: 5px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    color: #819CD3;
    background-color: rgba(17, 40, 97, 0);
    transition: 0.3s;
    border-bottom: 0px;
    border-style: solid;
    border-color: #819CD3;
}

#custom-keybinds:hover { 
    background: #819CD3;
    color: #22336e;
}

#cava{
    margin-top: 5px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background-color: rgba(17, 40, 97, 0); 
    color: #819CD3;
    border-bottom: 0px;
    border-style: solid;
    border-color: #819CD3;
    transition: 0.3s; 
}

#cava:hover{
    color: #22336e;
    background: #819CD3;
}

#battery{
    margin-top: 5px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background-color: rgba(17, 40, 97, 0);
    color: #819CD3;
    border-bottom: 0px;
    border-style: solid;
    border-color: #819CD3;
    transition: 0.3s; 
}

#battery:hover{
    color: #22336e;
    background: #819CD3;
}

#backlight:hover{
    color: #22336e;
    background: #819CD3;
}

#backlight{
    margin-top: 5px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background-color: rgba(17, 40, 97, 0);
    color: #819CD3;
    border-bottom: 0px;
    border-style: solid;
    border-color: #819CD3;
    transition: 0.3s; 
}

#language{
    margin-top: 5px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background-color: rgba(17, 40, 97, 0); 
    color: #819CD3;
    border-bottom: 0px;
    border-style: solid;
    border-color: #819CD3;
    transition: 0.3s;
}

#language:hover{
    color: #22336e; 
    background: #819CD3; 
}

#pulseaudio {
    margin-top: 5px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background-color: rgba(17, 40, 97, 0);
    color: #819CD3;
    padding: 8px;
    border-bottom: 0px;
    border-style: solid;
    border-color: #819CD3;
    transition: 0.3s;
}

#pulseaudio:hover{ 
    background: #819CD3;
    color: #22336e;
}

#pulseaudio.muted {
    color: #819CD3;
    background-color: rgba(17, 40, 97, 0);
    border-bottom: 0px;
    border-style: solid;
    border-color: #819CD3;
    transition: 0.3s;
}

#pulseaudio.muted:hover {
    background: #819CD3;
    color: #22336e; 

}

#custom-lowercase_clock {
    margin-top: 5px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background-color: rgba(17, 40, 97, 0); 
    color: #819CD3;
    border-bottom: 0px;
    border-style: solid;
    border-color: #819CD3;
    transition: 0.3s;
}

#custom-lowercase_clock:hover {
    color: #22336e; 
    background: #819CD3;
}

tooltip {
	background-color: rgba(30, 30, 46, 0.5);
    color: #fff; /* White text */
    border-radius: 8px;
    padding: 10px;
    font-size: 14px;
}

#disk{
    margin-top: 5px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background-color: rgba(17, 40, 97, 0); 
    color: #819CD3;
    border-bottom: 0px;
    border-style: solid;
    border-color: #819CD3;
    transition: 0.3s;
}

#disk:hover{
    color: #22336e; 
    background: #819CD3;
}

#privacy{
    margin-top: 5px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background-color: rgba(17, 40, 97, 0); 
    color: #819CD3;
    border-bottom: 0px;
    border-style: solid;
    border-color: #819CD3;
    transition: 0.3s;
}

#idle_inhibitor{
    margin-top: 5px;
    margin-left: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background-color: rgba(17, 40, 97, 0); 
    color: #819CD3;
    border-bottom: 0px;
    border-style: solid;
    border-color: #819CD3;
    transition: 0.3s;
}

#idle_inhibitor.activated{
    color: #819CD3;
    border-color: #819CD3;
}

#idle_inhibitor.activated:hover{
    background: #819CD3;
    color: #22336e;
    border-color: #819CD3;
}

#idle_inhibitor.deactivated{
    color: #FEE5E4
}

#idle_inhibitor.deactivated:hover{
    color: #22336e; 
    background: #819CD3;
}

#memory {
    margin-top: 5px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    background-color: rgba(17, 40, 97, 0); 
    color: #819CD3;
    border-bottom: 0px;
    border-style: solid;
    border-color: #819CD3;
    transition: 0.3s;
}

#memory:hover { 
    color: #22336e; 
    background: #819CD3;

}

#cpu {
    margin-top: 5px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    background-color: rgba(17, 40, 97, 0); 
    color: #819CD3;
    border-bottom: 0px;
    border-style: solid;
    border-color: #819CD3;
    transition: 0.3s;
}

#cpu:hover {
    color: #22336e; 
    background: #819CD3;

}

#custom-launcher {
    font-size: 25px;
    margin-top: 5px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 10px;
    transition: none;
    color: #819CD3;
    background-color: rgba(17, 40, 97, 0);
    transition: 0.3s;
    border-bottom: 0px;
    border-style: solid;
    border-color: #819CD3;
}

#custom-launcher:hover { 
    background: #819CD3;
    color: #22336e;
}

#network.disconnected {
    color: #819CD3;
    background: #22336e; 
    border-bottom: 0px;
    border-style: solid;
    border-color: #819CD3;
}

#network.disconnected:hover {
    background: #819CD3;
    color: #22336e; 
}

#custom-power {
    font-size: 15px;
    margin-top: 5px;
    margin-left: 8px;
    margin-right: 17px;
    padding-left: 10px;
    padding-right: 5px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background-color: rgba(17, 40, 97, 0); 
    color: #819CD3;
    border-bottom: 0px;
    border-style: solid;
    border-color: #819CD3;
    transition: 0.3s;
}

#custom-power:hover {
    background: #819CD3;
    color: #22336e;
    border-color: #819CD3;

}

#workspaces {
    margin-top: 5px;
    margin-left: 0px;
    padding-right: 0px;
    background-color: rgba(17, 40, 97, 0); 
    border-bottom: 0px;
    border-style: solid;
    border-color: #819CD3;
    color: #819CD3;
    transition: 0.3s;
}

#workspaces button {
    color: #819CD3;
    transition: 0.3s;
}

#tray{
    margin-top: 5px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background-color: rgba(17, 40, 97, 0); 
    color: #819CD3;
    border-bottom: 0px;
    border-style: solid;
    border-color: #819CD3;
    transition: 0.3s;
}

#tray menu{
    margin-top: 5px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background-color: rgba(17, 40, 97, 0); 
    color: #819CD3;
    border-bottom: 0px;
    border-style: solid;
    border-color: #819CD3;
    transition: 0.3s;
}

